<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>my website</title>
        <!-- Link stylesheets here -->
        <link rel="stylesheet" type="text/css" href="style.css"> 
    </head>
    <body>
        <h1 style="color:#{{page.color}}" >{{page.title}}</h1>
        <span> {{page.author}}</span>
        <p>
        {{page}}

        </p>
                <!-- Link script files here -->
        <script src="script.js"></script>
    </body>
</html>
